In [3]:
import pandas as pd
songs = pd.read_csv("Streams.csv")

In [5]:
# the last five songs of the list
songs.tail()

,Song,Artist,Streams (Billions),Release Date
95,7 Years,Lukas Graham,1.529,16-Jun-15
96,Yellow,Coldplay,1.527,26-Jun-00
97,Sugar,Maroon 5,1.524,29-Aug-14
98,Despacito,Luis Fonsi featuring Daddy Yankee,1.522,12-Jan-17
99,Don't Stop Me Now,Queen,1.521,26-Jan-79

In [8]:
# How many songs are on the list
streams = list(songs['Streams (Billions)'])
print("The amounts of songs on the list:", len(songs))

The amounts of songs on the list: 100

In [9]:
import pandas as pd
features = pd.read_csv("Features.csv")

In [10]:
features

,id,name,duration,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,danceability
0,0VjIjW4GlUZAMYd2vXMi3b,Blinding Lights,3.33,0.730,1,-5.934,1,0.0598,0.00146,0.000095,0.0897,0.334,171.005,0.514
1,7qiZfU4dY1lWllzX7mPBI3,Shape of You,3.90,0.652,1,-3.183,0,0.0802,0.58100,0.000000,0.0931,0.931,95.977,0.825
2,2XU0oxnq2qxCpomAAuJY8K,Dance Monkey,3.49,0.588,6,-6.400,0,0.0924,0.69200,0.000104,0.1490,0.513,98.027,0.824
3,7qEHsqek33rTcFNT9PFqLf,Someone You Loved,3.04,0.405,1,-5.679,1,0.0319,0.75100,0.000000,0.1050,0.446,109.891,0.501
4,0e7ipj03S05BNilyu5bRzt,Rockstar,3.64,0.520,5,-6.136,0,0.0712,0.12400,0.000070,0.1310,0.129,159.801,0.585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5kqIPrATaCc2LqxVWzQGbk,7 Years,3.96,0.473,10,-5.829,1,0.0514,0.28700,0.000000,0.3910,0.340,119.992,0.765
96,3AJwUDP919kvQ9QcozQPxg,Yellow,4.45,0.661,11,-7.227,1,0.0281,0.00239,0.000121,0.2340,0.285,173.372,0.429
97,6UelLqGlWMcVH1E5c4H7lY,Sugar,2.90,0.816,0,-4.209,1,0.0465,0.12200,0.000000,0.3350,0.557,95.390,0.548
98,6habFhsOp2NvshLv26DqMb,Despacito,3.82,0.797,2,-4.787,1,0.1530,0.19800,0.000000,0.0670,0.839,177.928,0.655
99,6XdYD0hrNIOHb0emKC3l9U,Don't Stop Me Now,7.05,0.553,5,-5.510,1,0.0773,0.71000,0.000000,0.1010,0.419,112.603,0.471

In [12]:
# list songs' duration
applys1=pd.DataFrame(features["duration"])
print(applys1)
# list songs which duration over 4.5 mins
a1=pd.DataFrame(applys1[applys1["duration"]>4.5])
print(a1)

    duration
0       3.33
1       3.90
2       3.49
3       3.04
4       3.64
..       ...
95      3.96
96      4.45
97      2.90
98      3.82
99      7.05

[100 rows x 1 columns]
    duration
16      4.69
23      5.91
33      4.88
48      5.21
62      4.84
64      5.44
78      4.54
84      4.88
87      4.96
91      5.03
99      7.05

In [16]:
# list songs' danceability
applys2=pd.DataFrame(features["danceability"])
print(applys2)
# list songs which danceability over 0.7
a2=pd.DataFrame(applys2[applys2["danceability"]>0.8])
print(a2)

    danceability
0          0.514
1          0.825
2          0.824
3          0.501
4          0.585
..           ...
95         0.765
96         0.429
97         0.548
98         0.655
99         0.471

[100 rows x 1 columns]
    danceability
1          0.825
2          0.824
35         0.841
36         0.872
45         0.908
48         0.834
62         0.908
68         0.856
82         0.921
85         0.853
86         0.896
88         0.866

In [18]:
# print(s1&s2)
id1=set(a1.index)
print(id1)
id2=set(a2.index)
print(id2)

{64, 33, 99, 78, 16, 48, 84, 87, 23, 91, 62}
{1, 2, 35, 36, 68, 45, 48, 82, 85, 86, 88, 62}

In [19]:
# the song that duration over 4.5 also danceability over 0.8
# the number of the song as the result
print(id1&id2)

{48, 62}

In [20]:
# the song that at least reach duration 4.5 or danceability 0.8
# the number of the song as the result
print(id1|id2)

{64, 1, 2, 68, 78, 16, 82, 84, 85, 86, 87, 23, 88, 91, 33, 99, 35, 36, 45, 48, 62}

In [22]:
# the song that only reach duration 4.5 
# the number of the song as the result
print(id1-id2)

{64, 33, 99, 78, 16, 84, 23, 87, 91}

In [23]:
# the song that only reach danceability 0.8
# the number of the song as the result
print(id2-id1)

{1, 2, 35, 36, 68, 45, 82, 85, 86, 88}

In [24]:
# the song that only reach duration 4.5 or danceability 0.8
print(id1^id2)

{1, 2, 16, 23, 33, 35, 36, 45, 64, 68, 78, 82, 84, 85, 86, 87, 88, 91, 99}