In [1]:
import pandas as pd
calories = pd.read_csv("calories.csv")

In [2]:
# the last five data of the list
calories.tail()

        User_ID  Calories
14995  15644082      45.0
14996  17212577      23.0
14997  17271188      75.0
14998  18643037      11.0
14999  11751526      98.0

In [1]:
import networkx as nx
import matplotlib.pyplot as plt

SyntaxError: invalid syntax (3513959623.py, line 1)